:root {
    /* Neutral */
    --very-dark-blue1: hsl(217, 54%, 11%);
    /* main BG */
    --very-dark-blue2: hsl(216, 50%, 16%);
    /* Card BG */
    --very-dark-blue3: hsl(215, 32%, 27%);
    /* Line */
    --white: hsl(0, 0%, 100%);
    /* Primary */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
}

body {
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    background-color: var(--very-dark-blue1);
}

h1 {
    color: var(--white);
    font-weight: 400;
}

p {
    color: var(--soft-blue);
    font-weight: 300;
}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 12px;
}

.tags .eth {
    color: var(--cyan);
    font-weight: 300;
}

.tags .clock {
    color: var(--soft-blue);
    font-weight: 300;
}

#container {
    max-width: 20rem;
    margin: 0 auto;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.card {
    padding: 1em;
    border-radius: 12px;
    background-color: var(--very-dark-blue2);
}

.tags {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1em;
}

.tags img {
    object-fit: contain;
    height: 18px;
    width: auto;
    padding-right: .5em;
}

.creator {
    display: flex;
    width: 100%;
    place-content: center;
}

.creator img {
    width: auto;
    margin-right: 1em;
    border: solid 1px white;
    border-radius: 50%;
}

.creator .name {
    color: var(--white);
    padding-left: 3px;
}

.line {
    border: solid 1px var(--very-dark-blue3);
}

footer {
    padding-top: 1em;
    color: var(--soft-blue);
    font-weight: 300;
}