* {
    background-color: hsl(217, 54%, 11%);
}

section {
    display: grid;
    justify-content: center;
}

.card {
    display: grid;
    padding: 33px;
    border: 33px;
    margin: 12px;
    height: 660px;
    background-color: hsl(216, 50%, 16%);
    justify-content: center;
    align-content: center;
    border-radius: 3%;
    

}

.image-container {
    display: grid;
    padding: 0px;
    border: 20px;
    margin: 18px;
}

.details {
    background-color: hsl(216, 50%, 16%);
    border-bottom-left-radius: 3%;
}

.title {
    color: hsl(0, 0%, 100%);
    background-color: hsl(216, 50%, 16%);

}

.description {
    background-color: hsl(216, 50%, 16%);
}

.nft-data {
    display: flex;
    justify-content: space-between;
    background-color: hsl(216, 50%, 16%);
}

.nft-data img {
    background-color: hsl(216, 50%, 16%);

}

.creator {
    display: flex;
    background-color: hsl(216, 50%, 16%);
    padding: 12px;
    border: 12px;
    
}

.creator p {
    background-color: hsl(216, 50%, 16%);

}

.image-container2 {
    display: grid;
    background-color: hsl(216, 50%, 16%);
    border-radius: 35;
    
}

.creator img {
    background-color: hsl(216, 50%, 16%);
    padding-right: 12px;

}
